<div class="addBoard-modal">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Create new board</h1>
    <mat-form-field>
      <mat-label>Enter board name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button (click)="onCreate()">Create</button>
  </div>
</div>
