<div class="container mt-3">
  <h2 class="boards-header">Your Boards</h2>
  <mat-progress-spinner
    *ngIf="loader.visibility"
    class="example-margin"
    [color]="'warn'"
    [mode]="'indeterminate'"
    style="margin: auto"
  >
  </mat-progress-spinner>
  <mat-grid-list
    cols="5"
    rowHeight="150px"
    gutterSize="10px"
    class="mt-2"
    *ngIf="!loader.visibility"
  >
    <mat-grid-tile
      *ngFor="let board of boards"
      [ngStyle]="{
        background:
          board.prefs.backgroundImageScaled !== null
            ? 'url(' + board.prefs.backgroundImageScaled[2].url + ') no-repeat'
            : board.prefs.backgroundColor,
        'background-size': 'cover'
      }"
      class="board"
    >
      <a routerLink="/boards/{{ board.shortLink }}">
        <span class="board-dim"></span>
        <p class="board-name">{{ board.name }}</p>
      </a>
    </mat-grid-tile>
    <mat-grid-tile
      class="board"
      (click)="openDialog()"
      [style.backgroundColor]="'rgba(9,30,66,0.04)'"
    >
      <p>Create new board</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
