.board-container {
  display: flex;
  width: 100%;
  padding: 3rem;
}

.board {
  border-radius: 3px;
  width: 200px;
  height: 100px;
  text-overflow: ellipsis;

  cursor: pointer;
}

.boards-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.mat-grid-tile-content {
  position: relative;
}

.board-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  color: white;
  font-weight: 500;
}

.board-dim {
  position: absolute;
  background-color: #0000004d;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.board-dim:hover {
  background-color: #0006;
}

.addBoard-modal {
  padding: 10px;
}
