<div class="d-flex justify-content-between">
  <p class="list-title">{{ list.name }}</p>
  <mat-icon [matMenuTriggerFor]="menu" role="button">more_horiz</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog(list.name, list.id)">
      Delete List
    </button>
  </mat-menu>
</div>
<app-cards [cards]="cards"></app-cards>
<mat-card
  class="mt-2 add-card"
  *ngIf="!showAddCard"
  (click)="toggleShowAddCard()"
>
  <mat-card-content>
    <div class="d-flex align-items-center">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="12px"
        height="12px"
        viewBox="0 0 45.402 45.402"
        style="enable-background: new 0 0 45.402 45.402"
        xml:space="preserve"
        fill="rgb(94, 108, 132)"
      >
        <g>
          <path
            d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
    c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
    c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
    c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"
          />
        </g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
      </svg>
      <span class="ms-1">Add card</span>
    </div>
  </mat-card-content>
</mat-card>
<div *ngIf="showAddCard" class="mt-3">
  <mat-form-field appearance="outline">
    <mat-label>Enter a title for this card</mat-label>
    <input
      matInput
      placeholder="Enter a title for this card"
      [(ngModel)]="newCardName"
    />
  </mat-form-field>
  <div class="d-flex align-items-center gap-1">
    <button mat-raised-button color="primary" (click)="createNewCard()">
      Create
    </button>
    <mat-icon (click)="toggleShowAddCard()" role="button">close</mat-icon>
  </div>
</div>
