.add-card {
  color: rgb(94, 108, 132);
  background-color: rgb(235, 236, 240);
  box-shadow: none;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  padding: 5px !important;
}

.add-card:hover {
  color: black;
  background-color: rgba(9, 30, 66, 0.08);
}

.list-title {
  font-weight: bold;
  font-size: 16px;
}
