<div style="padding: 15px; width: 100%">
  <h1 mat-dialog-title>Delete List</h1>
  <div mat-dialog-content>
    Would you like to delete
    <span style="font-weight: bold"> {{data.name}}</span> list?
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button (click)="data.delete(data.id)">Delete</button>
  </div>
</div>
