.lists {
  padding: 20px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.lists-items {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  overflow: scroll;
  height: 100%;
  flex-grow: 1;
}

.list {
  border-radius: 3px;
  background-color: rgb(235, 236, 240);
  padding: 15px;
  width: 15%;
  min-width: 15%;
}

.mat-mdc-input-element {
  padding: 0 !important;
}

.mat-mdc-form-field-infix {
  padding: 0 0 !important;
}

.mdc-text-field {
  background-color: white !important;
}
