<div class="d-flex flex-column gap-2">
  <mat-card *ngFor="let card of cards" class="card">
    <mat-card-content class="d-flex align-items-center justify-content-between"
      >{{ card.name
      }}<mat-icon class="delete" (click)="deleteCard(card.id)"
        >delete</mat-icon
      ></mat-card-content
    >
  </mat-card>
</div>
